 body{
	background: #d2d2c1 url('imagens/fundo.png');
}

#principal{
	width: 900px;
}

#menu{
	background: #c5c5b2;
	padding: 18px;
}

#conteudo{
	background: #e8e8d9;
	padding: 10px;
}

#rodapé {
	text-align: center;
}

a {
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 7px;
}

h1 {
	color: #828271;
	font-size: 1.2em;
}

.centralizar{
	text-align: center;
}

.img-campanha {
	border: 10px solid #c3c3ae;
}